﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="margin-top-bottom center">
    <form asp-action="Index" asp-controller="Home" role="form">
        <div class="form-group">
            <label for="inputdefault"> Team: </label>
            <input class="form-control input-lg" name="teamName" type="text">
            <input type="submit" class="btn btn-default custom-btn margin-top-20 text-uppercase" value="Login" />
        </div>
    </form>
</div>
