﻿@model ICollection<Anonym.Model.Post>

<div class="row  margin-top-20">
    <form asp-action="Posts" asp-controller="Home" role="form">
        <div class="form-group">
            <label for="inputdefault"> Comment: </label>
            <textarea class="form-control input-lg" name="text"></textarea>
            <button class="btn btn-default margin-top-20 custom-btn center-block pull-right text-uppercase">Send</button>
        </div>
    </form>
</div>


@foreach (var post in Model)
{
    <div class="row">
        <span class="blue"><b>@post.Created</b>  </span>
        <p>@post.Text</p>
        <hr />
    </div>
}
