﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}

.center {
    width: 50%;
    margin: 0 auto;
}

.margin-top-bottom {
    margin-top: 200px;
    margin-bottom: 200px;
}

.margin-top-20 {
    margin-top: 20px;
}

input[type=submit] {
    width: 100%;
}

input, select, textarea {
    max-width: 100%;
}

    textarea.input-lg, select[multiple].input-lg {
        height: 200px;
    }

.custom-btn {
    height: 55px;
    width: 210px;
    border: none;
    background-color: cadetblue;
    color: white;
}

.custom-btn:hover{
    background-color: cadetblue;
    color: white;
}

.custom-btn:focus{
    background-color: cadetblue;
    color: white;
}

.navbar-inverse{
    background-color: cadetblue;
    border:none;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.blue{
    color: cadetblue;
}

.text-uppercase{
    text-transform: uppercase;
}
